body {
  background-color: #1a2f51;
  font-family: cursive;
}
.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: aqua;
  background-image: url(images/montana-bosque-selva-arboles-dibujos-animados-fondo-generativo-ai.jpg);
  background-size: cover;
}
h1 {
  color: whitesmoke;
  text-align: center;
  display: flex;
  margin: 100px;
}
.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
  background-image: url(images/table.svg);
  background-size: 100% 100%;
  position: relative;
}

.mark-x {
  background-image: url(images/x.svg);
  background-size: 100% 100%;
}
.mark-o {
  background-image: url(images/o.svg);
  background-size: 100% 100%;
}
.line {
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
}
.line-winner-1 {
  background-image: url(images/line-winner-1.svg);
}
.line-winner-2 {
  background-image: url(images/line-winner-2.svg);
}
.line-winner-3 {
  background-image: url(images/line-winner-1.svg);
  transform: rotate(180deg);
}
.line-winner-4 {
  background-image: url(images/line-winner-1.svg);
  transform: rotate(270deg);
}
.line-winner-5 {
  background-image: url(images/line-winner-2.svg);
  transform: rotate(90deg);
}
.line-winner-6 {
  background-image: url(images/line-winner-1.svg);
  transform: rotate(90deg);
}

.line-winner-7 {
  background-image: url(images/line-winner-3.svg);
}
.line-winner-8 {
  background-image: url(images/line-winner-3.svg);
  transform: rotate(90deg);
}

/* Iphone SE */

@media only screen and (max-width: 428px) {
  .table {
    height: 300px;
    width: 300px;
  }
}

/* Iphone XE */

@media only screen and (min-width: 429px) and (max-width: 844px) {
  .table {
    height: 400px;
    width: 400px;
  }
}

/* Iphone 12 pro */

@media only screen and (min-width: 845px) and (max-width: 926px) {
  .table {
    height: 450px;
    width: 450px;
  }
}

/* Iphone 14 pro */

@media only screen and (min-width: 927px) {
  .table {
    height: 550px;
    width: 550px;
  }
}
